@model lab2.Models.Categories

<h2>Thêm danh mục mới</h2>

<form asp-action="Create" method="post">
    <div class="form-group">
        <label asp-for="CategoryName"></label>
        <input asp-for="CategoryName" class="form-control" />
        <span asp-validation-for="CategoryName" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-success mt-2">Thêm danh mục</button>
    <a asp-action="Index" class="btn btn-secondary mt-2">Quay lại</a>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}